/* CSS HEX */
--chestnut: #932F29ff;
--sky-blue: #73C5F3ff;
--charcoal: #565555ff;
--platinum: #EBEBEBff;

/* CSS HSL */
--chestnut: hsla(3, 56%, 37%, 1);
--sky-blue: hsla(202, 84%, 70%, 1);
--charcoal: hsla(0, 1%, 34%, 1);
--platinum: hsla(0, 0%, 92%, 1);

/* SCSS HEX */
$chestnut: #932F29ff;
$sky-blue: #73C5F3ff;
$charcoal: #565555ff;
$platinum: #EBEBEBff;

/* SCSS HSL */
$chestnut: hsla(3, 56%, 37%, 1);
$sky-blue: hsla(202, 84%, 70%, 1);
$charcoal: hsla(0, 1%, 34%, 1);
$platinum: hsla(0, 0%, 92%, 1);

/* SCSS RGB */
$chestnut: rgba(147, 47, 41, 1);
$sky-blue: rgba(115, 197, 243, 1);
$charcoal: rgba(86, 85, 85, 1);
$platinum: rgba(235, 235, 235, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #932F29ff, #73C5F3ff, #565555ff, #EBEBEBff);
$gradient-right: linear-gradient(90deg, #932F29ff, #73C5F3ff, #565555ff, #EBEBEBff);
$gradient-bottom: linear-gradient(180deg, #932F29ff, #73C5F3ff, #565555ff, #EBEBEBff);
$gradient-left: linear-gradient(270deg, #932F29ff, #73C5F3ff, #565555ff, #EBEBEBff);
$gradient-top-right: linear-gradient(45deg, #932F29ff, #73C5F3ff, #565555ff, #EBEBEBff);
$gradient-bottom-right: linear-gradient(135deg, #932F29ff, #73C5F3ff, #565555ff, #EBEBEBff);
$gradient-top-left: linear-gradient(225deg, #932F29ff, #73C5F3ff, #565555ff, #EBEBEBff);
$gradient-bottom-left: linear-gradient(315deg, #932F29ff, #73C5F3ff, #565555ff, #EBEBEBff);
$gradient-radial: radial-gradient(#932F29ff, #73C5F3ff, #565555ff, #EBEBEBff);